body{
    background:white;
    width:100%;
}


/* ______________________THE HEADER AND NAVIGATION BAR_____________________*/
header{
    background-color:aliceblue rgb(255,255,255);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(10,13,171,1) 0%);
    height: 50px;
    width: 100%;
    text-align: center;
}

h1{
    text-align: center;
    -webkit-text-fill-color: white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;


}
nav{
    background-color: 0;
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
}

ul{
    background-color: 0 ;
}

.etiquetali{
    display: inline;
    background-color: lightblue;/*(red,green,blue,transparent)*/
    /*padding-top: 20px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 15px;*/
    padding: 5px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);/*(red,green,blue)*/
    font-size: 20px;
}
/* ______________________THE HEADER AND NAVIGATION BAR _____________________*/



/* ______________________________THE SECTION 1______________________________________*/

.laseccion{
    background-color: lightblue;
    margin-top: 20px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#division1{
    background-color: lightskyblue;
    width: 20%;
    height: 300px;
}

#division2{
    background-image: url(/images_website/ima_generator_\ example\ 3.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 300px;
}

#division3{
    background-color: lightpink;
    width: 20%;
    height: 300px;
}

#division4{
    background-image: url(/images_website/ima_generator_\ example\ 2.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 300px;
}

/* ______________________________THE SECTION 1______________________________________*/


/* ______________________________THE SECTION 2______________________________________*/
.seccion2{
    background-color: rgba(16, 28, 136, 0.4);
    margin-top: 20px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}

#divone{
    background-color: blue;
    width: 40%;
    height: 600px;
}

#divtwo{
    background-image: url(/images_website/ima_generator_\ example\ 4.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    height: 600px;
}
/* ______________________________THE SECTION 2______________________________________*/



/* ______________________________ SECTION 3 ______________________________________*/
.seccion3{
    background-image: url(/images_website/ima_generator_\ example\ 1.jpeg);
    background-size: contain; 
    /*background-repeat: no-repeat; /* do not repeat the image */
    padding-top: 100px;
    margin-top: 20px;
    height: 800px;
    align-items: center;
    justify-content: space-around;
}

#divione{
    background-color: lightblue;
    width: 90%;
    height: 200px;
    margin-left: auto;
    margin-right: 60px;
}

#divitwo{
    background-color:lightblue;
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: 60px;
}
/* ______________________________ SECTION 3 ______________________________________*/




/* ______________________________FOOTER______________________________________*/
footer{
    background-color:lightblue;
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 40px;
}
/* ______________________________FOOTER______________________________________*/